@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

@font-face {
  font-family: 'Alesand';
  src: url('/Alesand_Light/Alesand_Light.eot');
  src: url('/Alesand_Light/Alesand_Light.eot?#iefix') format('embedded-opentype'),
       url('/Alesand_Light/Alesand_Light.woff') format('woff'),
       url('/Alesand_Light/Alesand_Light.ttf') format('truetype'),
       url('/Alesand_Light/Alesand_Light.svg#Alesand_Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
